@{
    ViewData["Title"] = "Sprint13. Tasks";
}

<h1>@ViewData["Title"]</h1>

<ul>
    <li>
        @Html.ActionLink("Greetings", "Greetings", "Tasks")
    </li>
    <li>
        @Html.ActionLink("Products", "ProductInfo", "Tasks")
    </li>
    <li>
        @Html.ActionLink("Supermarkets", "SuperMarkets", "Tasks")
    </li>
    <li>
        @Html.ActionLink("Shopping list", "ShoppingList", "Tasks")
    </li>
    <li>
        @Html.ActionLink("Shopping cart", "ShoppingCart", "Tasks")
    </li>
</ul>